@import 'globals.scss';

.about_banner {
    background-color: $red;
    background-image: url('/src/images/mastermind_pattern2.png');
    margin-top: -6rem;
    padding-top: 9rem;
    text-align: center;
}