$black: #585858;
$red: #E25656;

* {
    font-family: "brandon-grotesque",sans-serif;
}

h1, h2, h3, h4, h5, p {
    color: $black;
}

.main_nav {
    background-color: transparent;
    box-shadow: none;
    line-height: 40px;
    padding-top: 25px;
    z-index: 10;
    position: relative;
    img {
        height: 50px;
        z-index: 100;
        position: relative;
    }
    li.active {
        background-color: transparent;
        a {
            border-bottom: 2px solid white;
        }
    }
    a {
        color: white;
        font-weight: bold;
        margin-bottom: 5px;
        z-index: 100;
        position: relative;
        &:hover {
            background-color: transparent;
            border-bottom: 2px solid white;
        }
    }
    .side-nav {
        position: fixed;
        z-index: 999;
    }
}

.content {
    margin-top: -70px;
    //z-index: -1;
    position: relative;
}

.bm-overlay {
    //margin-top: -30px;
}
.bm-menu-wrap {
    margin-top: -30px;
    height: 102% !important;
    background-color: rgba(88, 88, 88, 1);
    .bm-morph-shape {
        height: 102% !important;
        svg {
            fill: rgba(88, 88, 88, 0.7);
        }
    }
    .bm-menu {
        nav {
            padding-left:15px;
            padding-right:15px;
            background-color: transparent;
            a {
                background-color: $red;
                padding: 5px 15px 5px 15px;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
    .bm-cross-button {
        margin: 15px 15px 0 0;
        img {
            height: 50px;
        }
    }
}

//__________________________  ______________________________

/* label color */
   .input-field label {
     color: $red;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: $red;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
     background-color: #ffffb3;
     margin-top:5px;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: $red;
   }

    //_________\\

   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: $red;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
     background-color: #ffffb3;
     margin-top:5px;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }

   //____________\\

   /* label focus color */
   .input-field textarea:focus + label {
     color: $red !important;
   }
   /* label underline focus color */
   .input-field textarea:focus {
     border-bottom: 1px solid $red !important;
     box-shadow: 0 1px 0 0 $red !important;
     background-color: #ffffb3;
     margin-top:5px;
   }
   /* valid color */
   .input-field textarea.valid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }
   /* invalid color */
   .input-field textarea.invalid {
     border-bottom: 1px solid $red;
     box-shadow: 0 1px 0 0 $red;
   }