.display {
    // width: 100vw;
    // padding: 4vh 3vw;
    // height: ;
    // display: inline-block;
    // position: absolute;
    // padding-left: 33vw;
    // position: absolute;
    // top: 50%;
    // left: 0;
    // right: 0;
    // margin-top: -280px;
    // height: 560px;
    // .footer {
    //     margin-left: -9vw;
    //     padding: 4vh 3vw;
    //     width: 76vw;
    //     h3 {
    //         text-align: center;
    //     }
    // }
    // @media only screen and (max-width: 1020px) {
    //     //width: 100vw;
    //     //padding: 4vh 2vw;
    //     top: 14px;
    //     margin-top: 0;
    // }
}

#page {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -280px;
    height: 560px;
    @media only screen and (max-width: 1020px) {
        //width: 100vw;
        //padding: 4vh 2vw;
        top: 14px;
        margin-top: 0;
    }
}
