.work {
    min-height: 100vh;
    .projects {
        a {
            color: #fff;
            &:hover {
                text-decoration-line: none;
            }
        }
        .card {
            height: 182px;
            background-color: rgb(20, 20, 20);
            margin: 5px;
            &:hover {
                margin-top: -0.5px;
            }
            &.card-small {
                height: 80px;
                margin-bottom: 35px;
            }
            .card-text {
                span {
                    position: absolute;
                    bottom: 5px;
                    font-size: 12px;
                    float: right;
                    i {
                        padding-right: 7px;
                    }
                }
            }
        }
    }
}
